.cardContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: white;
  border: 4px solid black;
  padding: 2rem;
  cursor: pointer;
  /* Tämä luo suunnikasmuodon */
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  transition: transform 0.2s ease;
  text-decoration: none;
  color: black;
}

.cardContainer:hover {
  transform: translateX(10px);
}

.thispage {
  color: lightgrey;
  font-weight: bold;
}

.thispage:hover {
  color:rgb(236, 169, 82);
  transform:perspective(2);
}

.thispage2 {
  color: black;
}

/* :global(.dark) .thispage2 { color: white } */

.thispage2:hover {
  color:rgb(236, 169, 82);
  transform:perspective(2);
}


.slideshowPlaceholder {
  width: 200px;
  height: 200px;
  background: #eee;
  flex-shrink: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}


/* Mobiiliresponsiivisuus */
@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    text-align: center;
  }
}