.link {
  /* display: flex;
  align-items: center;
  gap: 2rem;
  background: white;
  border: 4px solid black;
  padding: 2rem;
  cursor: pointer;
  /* Tämä luo suunnikasmuodon */
  /* clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  transition: transform 0.2s ease;
  text-decoration: none;*/
  color: black; 
  align-content: flex-start;

}

.link:hover {
  transform: translateX(10px);
  color: #f9572a;
  /* color: linear-gradient(90deg, #f9572a, #ff9b05); */
}

/* Mobiiliresponsiivisuus */
@media (max-width: 540px) {
  .link {
    text-align:left;
  }
}