.link {
  color: black; 
  align-content: flex-start;
}
/* 
Dark mode */
:global(.dark) .link {
  color: white;
}

@media (prefers-color-scheme: dark) {
  .link { color: white; }
}

.link:hover {
  transform: translateX(10px);
  color: #f9572a;
}

/* Mobiiliresponsiivisuus */
@media (max-width: 540px) {
  .link {
    text-align:left;
  }
}