.yourBox {
  width: 100%;
  max-width: 20rem;
  border: 2px solid var(--text-yellow);
  background-color: var(--background);
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  .yourBox {
    height: 100%;
    min-height: 32rem;
  }

}
