.link {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
  align-content: flex-start;
  flex: 0 0 100%;
}

.link:hover {
  transform: translateX(10px);
  background-color: linear-gradient(90deg, #f9572a, #ff9b05);
}

.ul {
  display: flex;
}
