.cardWrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 600px;
  min-height: 180px;
  height: 100%;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
  
  /* TÄMÄ LUO REUNUKSEN: */
  /* Drop-shadow noudattaa clip-pathin muotoa toisin kuin border */
  filter: drop-shadow(2px 0px 0px black) 
          drop-shadow(-2px 0px 0px black) 
          drop-shadow(0px 2px 0px black) 
          drop-shadow(0px -2px 0px black);
}

.cardWrapper:hover {
  /* transform: translateY(0px); */
  transform: scale(1.035);
    width: 100%;
  max-width: 20rem;
}

.cardShape {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
  background: var(--color-gold);
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
}

.cardShape:hover {
 background: linear-gradient(90deg, #f9572a, #ff9b05);
 color: var(--background);
}

.yourBox {
  width: 100%;
  max-width: 20rem;
  border: 2px solid var(--text-yellow);
  background-color: var(--color-gold);
  border-radius: 0.5rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 1024px) {
  .yourBox {
    min-height: 32rem;
  }
}

.yourBox:hover {
 background: linear-gradient(180deg, var(--color-gold), #ff9b05);
  color: var(--background);
}


.cardBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* inset: 0; */
  pointer-events: none;
  overflow: visible;
}

.slideshowPlaceholder {
  width: 150px;
  height: 150px;
  background: #eee;
  flex-shrink: 0;
}

.row {
  display: flex;       
  flex-direction: row; 
  gap: 20px;        
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  width: 100%;
  height: 100%;
  padding-left: 20px;
    align-items: flex-start; /* or center if you want */  
}

.title { margin: 0 0 0.5rem; font-weight: 600; }
.text { margin: 0; opacity: 0.8; }

@media (max-width: 540px) {
.cardShape {
    /* Nyt sinun tarvitsee muuttaa vain tätä, "reunus" seuraa mukana */
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  }
.slideshowPlaceholder {
  width: 50px;
  height: 50px;
  top: 200px;
  background: #eee;
  flex-shrink: 0;
}

.column {
    flex-direction: column;
    align-items: flex-start; /* or center if you want */  
}


}
