.cardContainer {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
  color: black;
}

.cardContainer:hover {
  transform: translateX(10px);
}

.slideshowPlaceholder {
  width: 200px;
  height: 200px;
  background: #eee;
  flex-shrink: 0;
}

/* Mobiiliresponsiivisuus */
@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    text-align: center;
  }
}