.cardWrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 800px;
  min-height: 180px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
  
  /* TÄMÄ LUO REUNUKSEN: */
  /* Drop-shadow noudattaa clip-pathin muotoa toisin kuin border */
  filter: drop-shadow(2px 0px 0px black) 
          drop-shadow(-2px 0px 0px black) 
          drop-shadow(0px 2px 0px black) 
          drop-shadow(0px -2px 0px black);
}

.cardWrapper:hover {
  transform: translateX(10px);
  
}

.cardShape {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
  background: white;
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
}

.cardShape:hover {
 background: linear-gradient(90deg, #f9572a, #ff9b05);
}

.cardBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* inset: 0; */
  pointer-events: none;
  overflow: visible;
}

.slideshowPlaceholder {
  width: 150px;
  height: 150px;
  background: #eee;
  flex-shrink: 0;
}

.row {
  display: flex;       
  flex-direction: row; 
  gap: 20px;        
}

.title { margin: 0 0 0.5rem; font-weight: 600; }
.text { margin: 0; opacity: 0.8; }

@media (max-width: 540px) {
.cardShape {
    /* Nyt sinun tarvitsee muuttaa vain tätä, "reunus" seuraa mukana */
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  }
    .slideshowPlaceholder {
  width: 50px;
  height: 50px;
  background: #eee;
  flex-shrink: 0;
}

.row {
    flex-direction: column;
    align-items: flex-start; /* or center if you want */  
}
}