.cardWrapper {
  position: relative;
  display: flex;   /* tärkein: korkeus = sisällön korkeus */
  width: 100%;
  max-width: 800px;        /* valinnainen */
  min-height: 180px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
 
}

.cardWrapper:hover {
  transform: translateX(10px);
  
}

.cardShape {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2rem;
  padding: 0rem;
  padding-left: 1rem;
  background: white;

  /* varsinainen muoto */
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
}

.cardShape:hover {
 background: linear-gradient(90deg, #f9572a, #ff9b05);
}

.cardBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* inset: 0; */
  pointer-events: none;
  overflow: visible;
}

.slideshowPlaceholder {
  width: 150px;
  height: 150px;
  background: #eee;
  flex-shrink: 0;
}

.row {
  display: flex;       
  flex-direction: row; 
  gap: 20px;        
}

.title { margin: 0 0 0.5rem; font-weight: 600; }
.text { margin: 0; opacity: 0.8; }

@media (max-width: 540px) {
  .cardShape {
    padding-top: 1rem;
    /* flex-direction: row; */
    /* text-align: center; */
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  }
    .slideshowPlaceholder {
  width: 50px;
  height: 50px;
  background: #eee;
  flex-shrink: 0;
}

.row {
    flex-direction: column;
    align-items: flex-start; /* or center if you want */  
}
}